.theme__button{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    border: none;
    border-radius: 500px;
    background-color: var(--color__primary);
    font-size: 20px;
    box-shadow: 0.3px 0.5px 3px black;
    padding: 10px;
    color: #fefefe;
}