// Main Colors
$color__primary: #3da9fc;
$color__secondary: #094067;
$color__text: #000;
$background__color: #fefefe;

$color__primary--dark: #9a9ef3;
$color__secondary--dark: #5C62C5;
$color__text--dark: #fefefe;
$background__color--dark: #363636;

$dark-grey: #363636;
$light-grey: #D8D8D8;

$navbar-size: 3rem;